* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    border-collapse: collapse;
    /* no outline (dotted border) after cklicking object */
    outline: none;
    /* prevent padding changing dimensions */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    display: flex;
}

a {
    color: blue;
}

#overview-panel, #input-panel, #output-panel {
    display: inline-block;
    height: 100vh;
    background-color: slategray;
    flex: 1 1 33vw;
}

/* CONTENT ON THE LEFT SIDE - overview-panel */
#overview-panel {
    background: gold;
    min-width: 15em;
}

#overview-panel div {
    height:33vh;
}

/* CONTENT IN THE MIDDLE - input-panel */
#input-panel {
    background: violet;
}

/* CONTENT ON THE RIGHT SIDE - output-panel */